# Coursera Data Science Capstone Week 3

## Imports

In [46]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

## Getting website using Beautiful Soup and parsing using HTML parser

In [47]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
r=requests.get(url)

c=r.content
soup=BeautifulSoup(c,"html.parser")

## Getting the first table on the page

In [48]:
table = soup.find_all('table')[0]

## Converting HTML to a pandas dataframe

In [49]:
df = pd.read_html(str(table))[0]
df.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

## Dropping the first row and renaming the columns

In [50]:
df = df.drop(0)
df.columns = ["PostalCode", "Borough", "Neighborhood"]
df.head()

  PostalCode           Borough      Neighborhood
1        M1A      Not assigned      Not assigned
2        M2A      Not assigned      Not assigned
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront

## Now that the format matches, removing the unassigned boroughs

In [51]:
df = df[df['Borough']!="Not assigned"]
df.head(10)

   PostalCode           Borough      Neighborhood
3         M3A        North York         Parkwoods
4         M4A        North York  Victoria Village
5         M5A  Downtown Toronto      Harbourfront
6         M5A  Downtown Toronto       Regent Park
7         M6A        North York  Lawrence Heights
8         M6A        North York    Lawrence Manor
9         M7A      Queen's Park      Not assigned
11        M9A         Etobicoke  Islington Avenue
12        M1B       Scarborough             Rouge
13        M1B       Scarborough           Malvern

## Iterating over rows and replacing Not assigned Neighborhoods with their Borough names

In [52]:
for row in df.itertuples():
    if df.at[row.Index, 'Neighborhood']=='Not assigned':
        df.at[row.Index, 'Neighborhood'] = df.at[row.Index, 'Borough']
    else:
        pass
df.head(10)

   PostalCode           Borough      Neighborhood
3         M3A        North York         Parkwoods
4         M4A        North York  Victoria Village
5         M5A  Downtown Toronto      Harbourfront
6         M5A  Downtown Toronto       Regent Park
7         M6A        North York  Lawrence Heights
8         M6A        North York    Lawrence Manor
9         M7A      Queen's Park      Queen's Park
11        M9A         Etobicoke  Islington Avenue
12        M1B       Scarborough             Rouge
13        M1B       Scarborough           Malvern

In [30]:
df.shape

(212, 3)