# Coursera Data Science Capstone Week 3

## Imports

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

## Getting website using Beautiful Soup and parsing using HTML parser

In [2]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
r=requests.get(url)

c=r.content
soup=BeautifulSoup(c,"html.parser")

## Getting the first table on the page

In [3]:
table = soup.find_all('table')[0]

## Converting HTML to a pandas dataframe

In [4]:
df = pd.read_html(str(table))[0]
df.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

## Dropping the first row and renaming the columns

In [5]:
df = df.drop(0)
df.columns = ["PostalCode", "Borough", "Neighborhood"]
df.head()

  PostalCode           Borough      Neighborhood
1        M1A      Not assigned      Not assigned
2        M2A      Not assigned      Not assigned
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront

## Now that the format matches, removing the unassigned boroughs

In [6]:
df = df[df['Borough']!="Not assigned"]
df.head(10)

   PostalCode           Borough      Neighborhood
3         M3A        North York         Parkwoods
4         M4A        North York  Victoria Village
5         M5A  Downtown Toronto      Harbourfront
6         M5A  Downtown Toronto       Regent Park
7         M6A        North York  Lawrence Heights
8         M6A        North York    Lawrence Manor
9         M7A      Queen's Park      Not assigned
11        M9A         Etobicoke  Islington Avenue
12        M1B       Scarborough             Rouge
13        M1B       Scarborough           Malvern

## Iterating over rows and replacing Not assigned Neighborhoods with their Borough names

In [7]:
for row in df.itertuples():
    if df.at[row.Index, 'Neighborhood']=='Not assigned':
        df.at[row.Index, 'Neighborhood'] = df.at[row.Index, 'Borough']
    else:
        pass
df.head(10)

   PostalCode           Borough      Neighborhood
3         M3A        North York         Parkwoods
4         M4A        North York  Victoria Village
5         M5A  Downtown Toronto      Harbourfront
6         M5A  Downtown Toronto       Regent Park
7         M6A        North York  Lawrence Heights
8         M6A        North York    Lawrence Manor
9         M7A      Queen's Park      Queen's Park
11        M9A         Etobicoke  Islington Avenue
12        M1B       Scarborough             Rouge
13        M1B       Scarborough           Malvern

In [8]:
df.shape

(212, 3)

In [38]:
geodf = pd.read_csv("Geospatial_Coordinates.csv")
geodf.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [48]:
print(geodf.shape)
print("Number of rows: ", geodf.shape[0])

(103, 3)
Number of rows:  103

In [40]:
newdf = df.set_index('PostalCode').join(geodf.set_index('Postal Code'))
newdf.head()

         Borough    Neighborhood   Latitude  Longitude
M1B  Scarborough           Rouge  43.806686 -79.194353
M1B  Scarborough         Malvern  43.806686 -79.194353
M1C  Scarborough  Highland Creek  43.784535 -79.160497
M1C  Scarborough      Rouge Hill  43.784535 -79.160497
M1C  Scarborough      Port Union  43.784535 -79.160497

In [43]:
newdf = newdf.reset_index()
newdf.columns = ['PostalCode', 'Borough', 'Neighborhood', 'Latitude', 'Longitude']
newdf.head()

  PostalCode      Borough    Neighborhood   Latitude  Longitude
0        M1B  Scarborough           Rouge  43.806686 -79.194353
1        M1B  Scarborough         Malvern  43.806686 -79.194353
2        M1C  Scarborough  Highland Creek  43.784535 -79.160497
3        M1C  Scarborough      Rouge Hill  43.784535 -79.160497
4        M1C  Scarborough      Port Union  43.784535 -79.160497